#dropZone.hover {
    background: #ddd;
    border-color: #aaa;
  }
  #dropZone.error {
    background: #faa;
    border-color: #f00;
  }
  #dropZone.drop {
    background: #afa;
    border-color: #0f0;
  }
  .input-file {
    visibility: hidden;
  }
  .drop-zone {
    cursor: pointer;
    height: 70px;
    font-size: 1.5em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.puzzle{

}
.puzzle table{

}
.puzzle table td{
    width: 10px;
    height: 10px;
}

table{
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}